header h1 a img {
    max-height: 25px !important;
}
.tbl_wrap .write tr th {
    text-align: center;
}
			#loading {
				height: 100%;
				left: 0px;
				position: fixed;
				_position:absolute; 
				top: 0px;
				width: 100%;
				filter:alpha(opacity=50);
				-moz-opacity:0.5;
				opacity : 0.5;
			}
		
			.loading {
				background-color: white;
				z-index: 199;
			}
			
			#loading_img{
				position:absolute; 
				top:50%;
				left:50%;
				height:35px;
				margin-top:-75px;
				margin-left:-75px;
				z-index: 200;
			}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ddd;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}


.tabulator-row .tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid #e1e1e1 !important;
}
.tbl_wrap textarea {
    max-height: 80px !important;
}
select.full {
    width: 100%;
}
.tabulator-row .tabulator-cell {
    border-right: none;
    border-bottom: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}
.tabulator-row .tabulator-cell {
    border-right: 1px solid #e1e1e1;
    text-overflow: ellipsis;
}
.tabulator .tabulator-header .tabulator-col {
    border-right: 1px solid #e1e1e1;
    vertical-align: bottom;
}
.tabulator-selected .tabulator-cell {
    background: #c9e0ff !important;
}
.filebox {
	margin-top: 3px;
}
.property_download{
	flex-grow:10;
	margin: 3px 0px;
	background-color: #FAFAFA;
	padding: 5px 5px !important;
   	cursor: pointer;
   	text-decoration:underline;
    line-height: 20px;
    
    border: 1px solid #ddd;
    font-family: inherit;
    display: inline-block;
    height: 22px;
    font-size: 11px;
    color: blue;
    line-height: 20px;
}
.property_attach{
	flex-grow:10;
	margin: 3px 0px;
	background-color: #FAFAFA;
	padding: 5px 5px !important;
    border: 1px solid #ddd;
    font-family: inherit;
    display: inline-block;
    height: 22px;
    font-size: 11px;
    color: #666;
    line-height: 20px;
}
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: solid 1px #ddd !important;
}
/* #FromPCLabel{
	color:#353168;
	border-color:#353168;
	background-color:white;
}
#FromPCLabel:hover{
	color:white;
	border-color:#353168;
	background-color:#353168;
} */
.DocPopup h4 {
    font-size: 12px;
    color: #0a4d9e;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.usedCorrNo td{
	background-color:rgba(155, 155, 155, 0.3) !important;
}
.usedRevNo td{
	background-color:rgba(155, 155, 155, 0.3) !important;
}
.no-close .ui-dialog-titlebar-close {display: none }
button:disabled {
    opacity: 30%;
    cursor: default;
    color: #000;
    border: solid 1px #000;
}
button:disabled:hover {
    background: #fff;
    color: #000;
}
.link_class{
	color:blue !important;
	text-decoration:underline;
}
input[type=file]:disabled+label {
	opacity: 30%;
	cursor:default;
}
.tbl_wrap tr th {
    text-align: left;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: #003eff;
}
/* #eng_popup_attach{
    color: #0b4da2;
    background: transparent;
    border: solid 1px #0b4da2;
}
#eng_popup_attach:hover {
    background: #07408b;
    color: #fff;
} */
.delete_dcc{
	width: 10px;
    height: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.project_Left_title th{
	text-align: left;
}
.so_required{
	color: red;
	margin-right:5px;
}
.line .right{
	display: flex;
}

.line .r_array {
	margin-left: auto !important;
}
/* 
.tabulator-row .tabulator-cell {
	text-align: left !important;
}
.tabulator-cell{
	text-align:left !important;
} */

.drn_popUP .tabulator .tabulator-tableholder{
    overflow-x: hidden !important;
}

.email_drn .tabulator .tabulator-tableholder{
    overflow-x: hidden !important;
}

input[type='number']{
    padding: 0px 5px;
    border: 1px solid #ccc;
    font-family: inherit;
    display: inline-block;
    height: 25px;
    font-size: 11px;
    color: #666;
    line-height: 23px;
}
.color_green{
	color:green;
}

.dicbtns .btn_blue {
	float: right;
	margin-left: 5px;
}

.txt_center .btn_blue {
	float: none;
	margin-left: 0px;
}

.right .btn_orange {
	margin-left: 5px;
	margin-right: 5px;
}

.txt_right #canclenoticeb, #canclenoticebP {
	float: right;
	margin-left: 5px;
}
.dc_current_folder_path{
	width:45%;
}
.multi_sel_wrap.on .multi_box {
	height: fit-content;
    overflow-y: auto;
    max-height: 250px;
}
.popup_locker{
	color:blue;
	font-size:15px;
}
.popup_oldversion{
	color:red;
	font-size:13px;
	float:right;
}
input:disabled {
    background-color: #FAFAFA !important; /* #eee */
}
select:disabled {
    background-color: #FAFAFA;
}
textarea:disabled {
    background-color: #FAFAFA !important;
}
textarea{
	padding: 0px 5px;
    border: 1px solid #ccc;
    font-family: inherit;
    display: inline-block;
    font-size: 11px;
    color: #666;
    line-height: 15px;
}
@media all and (max-width:768px) {
	.dc_current_folder_path{
		width:80%;
	}
}

tbody#loginPubBbs tr:hover {
    background-color: #eff3f8;

}

.modal-set-box {
    overflow: hidden;
}

.modal-set-box-title {
    font-size: 13px;
    color: #34495e;
    margin-bottom: 7px;
    overflow: hidden;
}

form#uploadForm_prjN, form#uploadForm_N {
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.drop-zone-head-wrap {
    padding: 6px 12px 8px;
    background-color: #fafafb;
}

ul.drop-zone-head {
    font-size: 12px;
    color: #333;
    overflow: hidden;
}

.drop-zone-head>li {
    float: left;
    height: 14px;
}

.drop-zone-head>li:nth-child(1) {
    width: 75%;
}

.drop-zone-head>li:nth-child(2) {
    width: 12%;
    text-align: right;
}

.drop-zone-head>li:nth-child(3) {
    width: 13%;
    text-align: center;
}

.file-drop-zone {
    width: 100%;
    height: 100px;
    padding: 7px 12px;
    overflow-y: scroll;
}

div#dropZoneInfo, div#dropZoneInfoN {
    text-align: center;
    height: 100%;
    padding-top: 21px;
    opacity: 0.4;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

#dropZoneInfo>p:first-child, #dropZoneInfoN>p:first-child {
    margin-bottom: 7px;
}

#dropZoneInfo>p:last-child, #dropZoneInfoN>p:last-child {
    font-size: 13px;
}

#directFile, #directFileN {
    display: none;
}

.total-file-size {
    float: right;
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 17px;
}

.file-ul {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
}

.file-ul>li {
    float: left;
    height: 20px;
}

.file-ul>li:nth-child(1) {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-ul>li:nth-child(2) {
    width: 12%;
    text-align: right;
}

.file-ul>li:nth-child(3) {
    width: 13%;
    text-align: center;
}

.file-delete-btn {
    cursor: pointer;
}
.corrHistorySpan {
    cursor: pointer;
}
#detailViewFileWrap, #detailViewFileWrapN, #detailViewFileWrap_home, #detailViewFileWrapN_Login {
    padding: 7px 12px;
    font-size: 12px;
    height: 100px;
    overflow-y: scroll;
}

.file-ul.detail>li:first-child>span {
    color: #1e4fc3!important;
    cursor: pointer;
}

.file-ul.detail>li:first-child>span:hover {
    text-decoration-line: underline;
}

.file-ul.detail>li:first-child>span>svg {
    margin-right: 5px;
}

#drn_SheetGrid .tabulator-cell{
	border:0.5px solid rgb(225,225,225);
}
#drn_SheetGrid [tabulator-field="check_items"]{
	padding:0;
}
#drn_SheetGrid [tabulator-field="discipline_code_id"]{
	padding:0;
}
#drn_SheetGrid [tabulator-field="design_check_status"]{
	padding:0;
}
#drn_SheetGrid [tabulator-field="reviewed_check_status"]{
	padding:0;
}
#drn_SheetGrid [tabulator-field="approved_check_status"]{
	padding:0;
}
#drn_SheetGrid [tabulator-field="btn"]{
	padding:0;
}

#drn_SheetGrid .tabulator-row .tabulator-selectable :hover {
  background-color: #fff !important;
}

.items_no {
	margin-top:10px
}
.rowPadding{
	float:left;
}
.checkgrid_Row{
	/*margin-top: 6px;*/
    border-bottom: 0.5px solid rgb(225,225,225);
    height: 25px;
}

.checkgrid_LastRow{
	/*margin-top: 8px;*/
	height: 25px;
}
.checkgrid_BtnRow{
	/*margin-top: 8px;*/
	border-bottom: 0.5px solid rgb(225,225,225);
	height: 25px;
}
.checkgrid_LastBtnRow{
	/*margin-top:8px;*/
	height: 25px;
	
}

#drn_ReviewConGrid .tabulator-cell{
	border:0.5px solid rgb(225,225,225);
}
#drn_ReviewConGrid [tabulator-field="design"]{
	padding:0;
	min-height: 20px;
}
#drn_ReviewConGrid [tabulator-field="reviewed"]{
	padding:0;
	min-height: 20px;
}
#drn_ReviewConGrid [tabulator-field="approved"]{
	padding:0;
	min-height: 20px;
}
.review_row_Title{
    border-bottom: 0.5px solid rgb(225,225,225);
}
.review_row1{
	height:15px;
    border-bottom: 0.5px solid rgb(225,225,225);
}
.review_row2{
	height:40px;
    border-bottom: 0.5px solid rgb(225,225,225);
}
.review_LastRow{
	margin-top: 8px;
}

#drn_SheetGrid .tabulator-row.tabulator-row:hover .tabulator-cell {
    background: #ffffff;
}

.pg05_Grids .tabulator-tableholder .tabulator-table{
	padding-bottom: 0px !important; 
}


#approverGrid .tabulator-row .tabulator-cell {
	text-align: center !important;
}

#distributionLineGrid .tabulator-row .tabulator-cell {
	text-align: center !important;
}

#dccLineGrid .tabulator-row .tabulator-cell {
	text-align: center !important;
}
#chk_modal_grid .tabulator-row .tabulator-cell {
	text-align: center !important;
}
#drn_ReviewConGrid .tabulator-row .tabulator-cell {
	text-align: center !important;
}

.drn_display{
	border:0;
}

.drn_noUse{
	display:none;
}

.pop_popInform{
	max-height: 800px !important;
	/* flex-direction: column-reverse important; */
}


.user_icon{
	background-image: url(../images/memberIcon.png) !important ;
    background-position: center center !important;
    background-size: 13px !important;
}

#emptyFile{
	text-align: center;
    color: #bbb;
    margin-top: 30px;
}

ul.dccNameEmail{
	display: inline-block;
	line-height: 2;
}

ul.dccNameEmail li{
	float: left;
	margin-left: 10px;
}

.disableTree {
	background-color: #e5e5e5;
    color: #898989;
}


.nameRow .tabulator-cell{
	border-bottom: none !important;
}

.signRow .tabulator-cell{
	height : 50px !important;
	font-size: 20px !important;
	line-height: 50px;
}

.dateRow .tabulator-cell{
	height : 20px !important;
	
}

#doc_attr .tabulator-row .tabulator-cell{
	text-align: center!important;
    border-left: solid 0.2px #e1e1e1;
    border-right: solid 0.2px #e1e1e1;
    border-bottom: solid 0.2px #e1e1e1;
}

.email_drn{
	padding:20px;
}

#drn_as{
	color : #ff0000;
	font-size: 20px;
}

.userInfoUpdate {
    margin: auto;
    display: block;
}
.tbl_wrap table.nonTop tr td img {
    max-width: 100% !important;
}

.passwdReset {
	margin: auto;
    display: block;
}

.loginInitialize {
	padding: 2px 8px;
}
.pg_cont .pg .num_set .tables .tbl4 {
    width: 49% !important;
    margin-bottom: 30px;
}
.userStop {
	color: #ff5252;
}
.userNormality {
	color: #0c70f2;
}
.note-editable {
	min-height: 350px;
}
.tbl_wrap {
	width: 99.9% !important;
}

/* .button {
    line-height: 7px;
    margin: 0px 1px;
} */

.flexdatalist-multiple li.input-container, .flexdatalist-multiple li.input-container input {
    line-height: 7px !important;
}

.userReg > .left {
    width: 32%;
}

.userReg > .right {
    padding-left: 20px;
    width: 68%;
}

.wsmallOut {
    width: 42% !important;
    max-width: 150px !important;
}

.wsmallIn {
    width: 48% !important;
    max-width: 150px !important;
}

.rg-rightBack {
	height: 100%;
    right: 0;
    top: 0;
    margin-right: -14px;
    background-color: #f4f4f4;
    position: absolute;
    width: 14px;
}

section {
    border: 7px solid #ffffff !important;
    background-color: #ffffff !important;
}

/* .date[type='text'] { default.cssÃ¬â€”ÂÃ¬â€žÅ“ font-size Ã¬Ë†ËœÃ¬Â â€¢ pjw
    padding: 0px 30px 0px 5px;
    border: 1px solid #ccc;
    font-family: inherit;
    background: url('../images/icon_cal.png') no-repeat right center;
    background-position: calc(100% - 8px) center;
    max-width: 150px;
    height: 27px;
    font-size: 11px;
    color: #666;
    border-radius: 3px;
    line-height: 25px;

}
}*/

.tabulator .tabulator-tableholder .tabulator-placeholder {
	width: 100% !important;
}

.project_tab {
    padding: 10px;
}

.org_y {
	margin-left:5px !important;
}

.home_grid_header{
	margin-top:7px;
}

.search_grid_header{
	margin-top:7px;
}

.tbl_wrap .write .summerNtable td span {
	vertical-align: baseline !important;
    line-height: unset !important;
}